<!-- Hello!
<app-hello 
    [name]="userName" 
    [callback]="handleClick"
    (onClick)="handleOnClick($event)"
></app-hello>
<app-list
    [values]="numbers"
>
</app-list>
<app-directive-test></app-directive-test> -->
<!-- <app-counter *ngIf="isVisible" [values]="numbers"></app-counter> -->
<!-- <button (click)="toggle()">Click</button>
<button (click)="addNumber()">Add number</button> -->

<!-- <app-user-page></app-user-page>
<app-faq-page></app-faq-page> -->
<!-- 
<app-content-conditional>
    <app-counter *ngIf="true" [values]="numbers"></app-counter>
</app-content-conditional> -->
<!-- <app-observable-test></app-observable-test> -->
<!-- <app-good-observable *ngIf="isVisible"></app-good-observable>
<button (click)="toggle()">Click</button> -->
<!-- <app-rxjs-test></app-rxjs-test> -->
<app-higher-order-operators></app-higher-order-operators>